
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:wght@400;500;600;700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    line-height: 16px;
    font-size: 16px;
    overflow-x: hidden;
    scroll-padding-top: 50px;
    scroll-behavior: smooth;
}

body{
    
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

p{
    margin-bottom: 0;
}

:root{
    --primary-color: #a60203;
    --primary-color-2: #bf1e2e;
    --text-color: #07194f;
    --text-color-2: #777;
}




ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}



.to-top{
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none;
    animation: bounce 4s ease-in-out infinite;
    z-index: 999;
}
.to-top.active{
    display: block;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-10px);}
	60% {transform: translateY(-5px);}
}
.to-top i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color-2);
    color: #fff;
    width: 32px;
    height: 32px;
    box-shadow: 1px 2px 4px #d30f0f;
    border-radius: 50%;
    font-weight: 700;
}

.progress{
    background: #c7c7c7;
    border-radius: 4px;
    height: 30px;
    width: 280px;
    max-width: 100%;
    margin: 14px auto 0;
}

.progress-done{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient( to right, #b51818, #b92727, #d13737 );
    box-shadow: 0 5px 5px -6px #b51818, 0 3px 7px #b92727;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    width: 0;
    transition: 1s ease 0.3s;
}

.leaf-shape-1{
    position: absolute;
    top: 70px;
    left: 0;
    width: 60px;
    z-index: 9;
}
.leaf-shape-2{
    position: absolute;
    top: 60px;
    left: 70px;
    width: 60px;
    z-index: 9;
}
.leaf-shape-3{
    position: absolute;
    top: -20px;
    right: -20px;
    width: 170px;
    opacity: 0.2;
    z-index: 9;
}
.tomato-shape-1{
    position: absolute;
    top: 150px;
    right: 10px;
    width: 150px;
    transform: rotate(10deg);
    z-index: 9;
}
.svg-shape-1{
    position: absolute;
    top: 300px;
    left: -200px;
    opacity: 0.1;
    width: 250px;
}
.svg-shape-2{
    position: absolute;
    bottom: -170px;
    right: -200px;
    opacity: 0.1;
    width: 270px;
}
.svg-shape-3{
    position: absolute;
    top: -250px;
    left: -120px;
    opacity: 0.1;
    width: 212px;
    transform: rotate(-7deg);
}

.vegetable-1{
    position: absolute;
    top: -170px;
    right: 0px;
    opacity: 0.5;
    width: 270px;
}



.slick-slider-dots{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 9;
}
.banner__sales .slick-slider-dots{
    position: absolute;
    bottom: 30%;
    left: 8%;
    transform: translateX(-50%);
    display: flex;
    z-index: 9;
}
.slick-slider-dots ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slick-slider-dots ul li{
    margin: 0 3px;
    height: auto;
    width: auto;
    cursor: pointer;
}
.slick-slider-dots ul li button{
    background: #fff;
    height: 6px;
    width: 6px;
    padding: 0;
    overflow: hidden;
    color: #fff;
    border: none;
    opacity: 0.5;
}

.slick-slider-dots ul li.slick-active button{
    background: orange;
    color: orange;
    width: 12px;
    transition: .3s;
    opacity: 0.8;
}

.slick-slider-dots ul li button::before{
    display: none;
}


.call-fixed{
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 999;
}

.social-icon{
    font-size: 22px;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color-2);
    border-radius: 50%;
}
.social-icon i{
    transform: translate(-1px,1px);
}
.call-fixed a{
    display: block;
    display: flex;
    align-items: center;
    position: relative;
    animation: callZoom 2s linear infinite;
    border-radius: 50%;
    margin-bottom: 10px;
}
.call-fixed a.blue{
    animation:none
}
.call-fixed a.black{
    animation: none;
}
.call-fixed a::before,
.call-fixed a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  animation: inherit;
  animation-delay: 1s;
}
.call-fixed a::after {
  animation-delay: 2s;
}
@keyframes callZoom {
    0% {
      box-shadow: 0 0 0 0rem rgba(185, 245, 173, 0.1);
    }
    30% {
      box-shadow: 0 0 0 0.2rem rgba(138, 235, 109, 0.1);
    }
    100% {
      box-shadow: 0 0 0 0.6rem rgba(114, 212, 75, 0.3);
    }
}
@keyframes blueZoom {
    0% {
      box-shadow: 0 0 0 0rem rgba(173, 210, 245, 0.1);
    }
    30% {
      box-shadow: 0 0 0 0.2rem rgba(109, 159, 235, 0.1);
    }
    100% {
      box-shadow: 0 0 0 0.6rem rgba(75, 112, 212, 0.3);
    }
}
@keyframes blackZoom {
    0% {
      box-shadow: 0 0 0 0rem rgba(87, 76, 76, 0.1);
    }
    30% {
      box-shadow: 0 0 0 0.3rem rgba(49, 41, 41, 0.1);
    }
    100% {
      box-shadow: 0 0 0 0.8rem rgba(43, 40, 40, 0.3);
    }
}
.call-fixed a img{
    width: 40px;
}


.flipdown .rotor-group:first-child{
    display: none;
}


.swal-text{
    text-align: center
}


