@media (max-width: 1400px) {
    .product__info-middle{
        min-height: 78px;
        display: flex;
        align-items: center;
    }
    .product.white .product__info-middle{
        min-height: auto;
    }

    .my-video-dimensions{
        height:516px;
    }

    .timeslot-item{
        padding: 10px 60px;
        font-size: 20px;
    }

    .link__form-contact{
        width: 260px;
        height: 75px;
        font-size: 22px;
    }
}

@media (min-width: 550px) {
    .promo-item{
        min-width: calc(50% - 5px);
    }
}

@media (min-width: 992px) {
    .promo-item{
        min-width: calc(33.333% - 6.66px);
    }
}


@media (min-width: 1200px) {
    .promo-item{
        min-width: calc(25% - 7.5px);
    }
}

@media (min-width: 1400px) {
    .promo-card .card-text {
        min-height: 63px;
    }
    
}


@media (max-width: 1200px) {
    .menu__nav a{
        padding: 6px 14px;
    }

    .sales__container{
        max-width: 100%;
    }

    .sales__main{
        gap: 0px;
    }

    .sales__right{
        transform: translateY(28px);
    }

    .sales__name{
        font-size: 36px;
    }

    .sales__price .price-old{
        font-size: 24px;
    }

    .sales__price .price-new{
        font-size: 26px;
    }

    .rice-shape {
        top: 70px;
        right: -100px;
        width: 150px;
    }

    .smoke-wrap {
        top: -44px;
        right: -108px;
    }

    .my-video-dimensions{
        height:416px;
    }

    .timeslot-item{
        padding: 10px 50px;
        font-size: 18px;
    }

    .link__form-contact {
        width: 220px;
        height: 64px;
        font-size: 20px;
    }
}



@media (max-width: 992px) {
    .header{
        background: #fff;
    }
    .logo__text{
        color: #000;
    }
    .btn__search{
        color: #000;
    }

    .header__body{
        padding: 6px 0;
    }
    .navigation{
        display: none;
    }

    .booking{
        display: none;
    }

    .banner{
        margin-top: 72px;
    }

    .mobile__menu{
        display: block;
    }


    .sales__right{
        transform: translateY(0);
    }

    .sales__title{
        font-size: 16px !important;
    }
    .sales__title span{
        font-size: 14px !important;
    }

    .sales__name {
        font-size: 16px !important;
    }
    .sales__price .price-old {
        font-size: 16px !important;
    }
    .sales__price .price-new {
        font-size: 18px !important;
    }    

    .sales__info{
        flex-direction: column;
        gap: 0;
    }

    
    .promise__content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .info__top{
        flex-direction: column;
        align-items: center;
    }

    .menu__menu-item{
        padding: 12px;
    }

    .my-video-dimensions{
        width: 100%;
        height:390px;
    }

    .timeslot-item {
        padding: 10px 30px !important;
        font-size: 16px !important;
    }
    .timeslot-item p {
        font-size: 12px !important;
    }

    .sales.active .timeslot-item{
        padding: 4px 30px !important;
    }

    .sales__main{
        padding: 6px 0;
    }

    .link__form-contact {
        width: 180px;
        height: 56px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .sales__right{
        padding: 10px 20px;
    }
    .sales__name{
        font-size: 30px;
        letter-spacing: 2px;
        text-align: center;
    }
    .rice-shape {
        top: 60px;
        right: -76px;
        width: 110px;
    }

    .product__info-middle{
        font-size: 16px;
        min-height: 60px;
    }

    .banner__text{
        width: 70%;
    }

    .my-video-dimensions{
        height:290px;
    }

    .timeslot-item {
        padding: 6px 16px !important;
        font-size: 16px !important;
    }
    .sales.active .timeslot-item {
        padding: 4px 16px !important;
    }

    .link__form-contact {
        width: 140px;
        height: 46px;
        font-size: 14px;
    }
}

@media (max-width:550px) {
    .sales__price{
        font-size: 10px;
        padding: 0 4px;
    }
    .sales__price .price-old {
        font-size: 12px !important;
    }
    .sales__price .price-new {
        font-size: 15px !important;
    }
    .banner__marketing{
        display: none;
    }
    .rice-shape{
        display: none;
    }
    .smoke-wrap{
        display: none;
    }
    .product.white{
        margin-top: 200px;
    }
    .promotion{
        padding: 80px 0;
    }
    .promotion-left .title{
        font-size: 22px;
    }
    .promotion-left .desc{
        font-size: 16px;
    }
    .form-promotion{
        margin-top: 20px;
    }

    .rotor-group-heading {
        margin-bottom: 0px;
    }

    .product__head .title{
        font-size: 30px;
    }

    .product__image img {
        max-width: 70%;
    }

    .timer__fixed{
        position: fixed;
        top: 72px;
        left: 0;
        width: 100%;
        background: #900;
        padding: 10px 0;
        animation: headerShow .3s linear;
        z-index: 10;
    }

    .leaf-shape-1, .leaf-shape-2 {
        width: 30px;
    }

    .tomato-shape-1{
        width: 90px;
        top: 50px;
    }

    .menu__nav-item{
        padding: 6px;
        font-size: 14px;
    }

    .product__menu-nav{
        padding: 0;
        gap: 4px;
    }

    .banner__text .title{
        font-size: 16px;
    }

    .banner__text .subtitle{
        font-size: 14px;
        margin-bottom: 20px;
    }

    

    .btn__banner{
        font-size: 14px;
    }

    .promise__content{
        grid-template-columns: repeat(1,1fr);
    }


    .my-video-dimensions{
        height: 200px;
    }


    .call-fixed a img{
        width: 30px;
    }

    .timeslot-item {
        padding: 2px 8px !important;
        font-size: 14px !important;
    }
    .timeslot-item p {
        font-size: 10px !important;
    }

    .link__form-contact {
        width: 110px;
        height: 39px;
        font-size: 11px;
    }

}


@media (max-width: 410px) {
    .timeslot-item {
        font-size: 12px !important;
    }
    .timeslot-item p {
        font-size: 8px !important;
    }
}




@media (max-width: 450px) {
  
  
    .flipdown .rotor {
      font-size: 1rem;
      margin-right: 3px;
    }
  
    .flipdown .rotor,
    .flipdown .rotor-leaf,
    .flipdown .rotor-leaf-front,
    .flipdown .rotor-leaf-rear,
    .flipdown .rotor-top,
    .flipdown .rotor-bottom,
    .flipdown .rotor:after {
      width: 20px;
    }
  
    .flipdown .rotor-group {
      padding-right: 10px;
    }
  
    .flipdown .rotor-group-heading:before {
      font-size: 0.6rem;
    }
  
    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before,
    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
      left: 46px;
    }
  
    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
      bottom: 26px;
      height: 4px;
      width: 4px;
    }
  
    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
      bottom: 11px;
      height: 4px;
      width: 4px;
    }
  
    .flipdown .rotor-leaf-front,
    .flipdown .rotor-top {
      line-height: 30px;
    }
  
    .flipdown .rotor-leaf,
    .flipdown .rotor {
      height: 30px;
    }
  
    .flipdown .rotor-leaf-front,
    .flipdown .rotor-leaf-rear,
    .flipdown .rotor-top,
    .flipdown .rotor-bottom,
    .flipdown .rotor:after {
      height: 15px;
    }

    .flipdown.flipdown__theme-light .rotor:after {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .flipdown.flipdown__theme-dark .rotor:after {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }




